# files
.DS_Store
Thumbs.db
.htaccess
/.idea/
/bezr/
/test/
*--
*-

*.txt
*.pdf
*.log
*.sql
*.sqx
*.gz
*.zip
*.rar
*\.dat
*\.flv
*\.mp4
*\.exe
*\.xls
*\.[0-9]+
*\.ppt*
*\.pps*
*\.doc*
*\.htc*

!/readme.txt
